.app {
    width: 85%;
    margin: auto;
}

.row {
    margin: 0;
}

.col-md-6 {
    padding: 0;
}

.items {
    padding-right: 15px;
}

.details {
    padding-left: 15px;
}

@media(max-width: 768px) {
    .details {
        padding: 0;
    }

    .items {
        padding: 0;
    }

}